#navbar9 {
  display: flex;
  position: relative;
}

#logo9 {
  margin: 3px 4px;
}

#logo9 img {
  height: 65px;
  margin: 2px 17px;
  border-radius: 85px;
}

#navbar9::before {
  content: "";
  background-color: rgb(110, 110, 110);
  position: absolute;
  height: 101%;
  width: 100%;
  z-index: -1;
  opacity: 0.6;
}

#navbar9 ul {
  display: flex;
  font-family: "Baloo Bhai", cursive;
}

#navbar9 ul li {
  list-style: none;
  font-size: 1.3rem;
}

#navbar9 ul li a {
  color: #403e3e;
  display: block;
  padding: 14px 30px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar9 ul li a:hover {
  color: black;
  background-color: white;
}

/* Services Section */
#services {
  margin: 34px;
  display: flex;
}
#services .box9 {
  border: 4px solid rgb(70, 66, 66);
  padding: 33px;
  margin: 0px 2px;
  border-radius: 28px;
  background: #f2f2f2;
  margin-bottom: 20px;
}
#services .box9 img {
  height: 160px;
  margin: auto;
  display: block;
  border-radius: 30px;
}

#services .box9 p {
  font-family: "Bree Serif", serif;
}

/* Clients Section */
#client-section {
  position: relative;
}

#client-section::before {
  content: "";
  position: absolute;
  background: url("../bg.jpg");
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}

#clients {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-item {
  padding: 34px;
}

#clients img {
  height: 124px;
}

/* Contact Section */
#contact {
  position: relative;
}
#contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  background: url("../contact.jpg") no-repeat center center/cover;
}
#contact-box9 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}
#contact-box9 input,
#contact-box9 textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
  font-size: 1.1rem;
}

#contact-box9 form {
  width: 40%;
}

#contact-box9 label {
  font-size: 1.3rem;
  font-family: "Bree Serif", serif;
}

footer {
  background: black;
  color: white;
  padding: 9px 20px;
}

/* Utility Classes */
.h-primary9 {
  font-family: "Bree Serif", serif;
  font-size: 3.8rem;
  padding: 12px;
}

.h-secondary9 {
  font-family: "Bree Serif", serif;
  font-size: 2.3rem;
  padding: 12px;
}

.btn9 {
  padding: 6px 20px;
  border: 2px solid white;
  background-color: brown;
  color: white;
  margin: 17px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.center1 {
  text-align: center;
}

a link {
  font-size: 32px;
  color: #181d1a;
  text-align: center;
  font-family: courier, arial, helvetica;
}

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: #f3f5f9;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 200px;
  height: 100%;
  background: #4b4276;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas {
  width: 25px;
}

.wrapper .sidebar ul li:hover {
  background-color: #594f8d;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

.wrapper .sidebar .social_media {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a {
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content {
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header {
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info {
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div {
  margin-bottom: 20px;
}

.btn10 {
  padding: 11px 17px;
  border: 5px solid white;
  background-color: #607d8b;
  color: white;
  margin: 0;
  font-size: -0.8rem;
  border-radius: 18px;
  cursor: pointer;
}

#logo4 {
  margin: 57px 674px;
}
#logo4 img {
  height: 118px;
  margin: 1px -89px;
  border-radius: 85px;
}
#home4 {
  /* User, Hotel Profile Creation  */
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: cursive;
}
